In [1]:
import sqlite3
import random
import string

### 练习1
创建 university 数据库 \
创建students表  \
  至少包括 ID，姓名，性别，年龄等必要字段，并自己为这些字段选择合适的字段类型

In [2]:
# 数据库文件是university.db，不存在，则自动创建
with sqlite3.connect('university.db') as db:
# 创建一个cursor：
    cursor = db.cursor()

# 执行一条SQL语句：创建students表
cursor.execute('create table if not exists students( \
    id integer primary key, \
    name text not null, \
    gender text not null, \
    age intger not null, \
    major text not null)')
db.commit()

### 练习2
增加和更新students 表的数据 \
至少有3名同学（周边）

在university 数据库中建立class表 \
增加和更新表的数据

至少有三门以上课程   \
提示，至少包括课号，课程名，教师。

In [3]:
# 插入数据：
genders = ['male', 'female']
majors = ['Math', 'CS', 'Finance', 'Economics']

for i in range(20):
    name = ''.join(random.sample(string.ascii_lowercase, 5))
    gender = genders[random.randint(0, 1)]
    age = random.randint(12, 24)
    major = majors[random.randint(0, 3)]
    cursor.execute('insert into students (id, name,gender,age,major) \
        values ({},"{}","{}",{},"{}")'.format(i+1, name, gender, age, major))
db.commit()

In [4]:
cursor.execute('select * from students')
print('---------------students--------------------')
for x in cursor.fetchall():
    print(x)

---------------students--------------------
(1, 'ehtur', 'male', 21, 'CS')
(2, 'wtozr', 'male', 12, 'Finance')
(3, 'lcrbp', 'female', 21, 'CS')
(4, 'hvzlt', 'male', 21, 'Economics')
(5, 'nlpug', 'male', 18, 'Finance')
(6, 'qectd', 'male', 21, 'Math')
(7, 'qfgxl', 'male', 20, 'Math')
(8, 'ahfpv', 'female', 18, 'Economics')
(9, 'yhkmf', 'male', 16, 'Finance')
(10, 'xnrbz', 'female', 19, 'Math')
(11, 'jcirq', 'female', 22, 'Math')
(12, 'edalb', 'male', 12, 'Finance')
(13, 'rakxn', 'male', 23, 'Economics')
(14, 'japxz', 'male', 16, 'Math')
(15, 'pmiot', 'female', 21, 'Economics')
(16, 'npray', 'male', 12, 'Finance')
(17, 'qfohp', 'female', 22, 'Finance')
(18, 'uxdjn', 'female', 23, 'CS')
(19, 'thclo', 'female', 16, 'CS')
(20, 'ujosv', 'male', 16, 'Finance')

In [5]:
# 执行一条SQL语句：创建class表
cursor.execute('create table if not exists class( \
    class_id integer primary key, \
    class_name text, \
    lecture text, \
    credit integer )')

classes = ['Python', 'Java', 'C++', 'C', 'R', 'Go']
lectures = ['Adam', 'Bob', 'Cyrus', 'Dan', 'Eric', 'Frank']
Credits = [3, 2, 3, 2, 1, 1]
for i in range(6):
    cursor.execute('insert into class (class_id, class_name,lecture,credit) \
        values ({},"{}","{}",{})'.format(i+1, classes[i], lectures[i], Credits[i]))
db.commit()

In [6]:
cursor.execute('select * from class')
print('---------------class--------------------')
for x in cursor.fetchall():
    print(x)

---------------class--------------------
(1, 'Python', 'Adam', 3)
(2, 'Java', 'Bob', 2)
(3, 'C++', 'Cyrus', 3)
(4, 'C', 'Dan', 2)
(5, 'R', 'Eric', 1)
(6, 'Go', 'Frank', 1)

### 练习3
在university 数据库中创建选课表enrolled表;\
至少包括：学生ID，选课的课号，考试分数   \
增加和更新表的数据

In [7]:
# 执行一条SQL语句：创建enrolled表
cursor.execute('create table if not exists enrolled( \
    student_id integer,  \
    class_id integer, \
    credit integer, \
    score integer, \
    primary key(student_id,class_id) )')

for i in range(20):
    student_id = i+1
    for j in range(random.randint(1, 6)):
        class_id = j+1
        credit = Credits[j]
        score = random.randint(0, 100)
        cursor.execute('insert into enrolled (student_id,class_id, credit,score) \
            values ({},{},{},{})'.format(student_id, class_id, credit, score))
db.commit()

In [8]:
cursor.execute('select * from enrolled')
print('---------------students--------------------')
for x in cursor.fetchall():
    print(x)

---------------students--------------------
(1, 1, 3, 68)
(1, 2, 2, 2)
(1, 3, 3, 76)
(1, 4, 2, 86)
(2, 1, 3, 58)
(3, 1, 3, 48)
(3, 2, 2, 0)
(3, 3, 3, 47)
(4, 1, 3, 2)
(4, 2, 2, 62)
(4, 3, 3, 67)
(5, 1, 3, 6)
(5, 2, 2, 76)
(5, 3, 3, 9)
(5, 4, 2, 52)
(6, 1, 3, 39)
(7, 1, 3, 91)
(7, 2, 2, 87)
(7, 3, 3, 96)
(7, 4, 2, 98)
(7, 5, 1, 96)
(8, 1, 3, 95)
(9, 1, 3, 30)
(9, 2, 2, 56)
(10, 1, 3, 13)
(10, 2, 2, 44)
(10, 3, 3, 1)
(10, 4, 2, 48)
(10, 5, 1, 34)
(11, 1, 3, 76)
(11, 2, 2, 8)
(11, 3, 3, 73)
(11, 4, 2, 88)
(11, 5, 1, 17)
(12, 1, 3, 5)
(12, 2, 2, 27)
(12, 3, 3, 40)
(12, 4, 2, 40)
(13, 1, 3, 42)
(13, 2, 2, 30)
(13, 3, 3, 93)
(13, 4, 2, 44)
(13, 5, 1, 47)
(13, 6, 1, 46)
(14, 1, 3, 42)
(15, 1, 3, 31)
(15, 2, 2, 59)
(15, 3, 3, 10)
(15, 4, 2, 60)
(15, 5, 1, 67)
(16, 1, 3, 78)
(16, 2, 2, 99)
(16, 3, 3, 38)
(16, 4, 2, 37)
(16, 5, 1, 7)
(16, 6, 1, 26)
(17, 1, 3, 44)
(17, 2, 2, 45)
(17, 3, 3, 44)
(17, 4, 2, 61)
(17, 5, 1, 81)
(17, 6, 1, 82)
(18, 1, 3, 92)
(18, 2, 2, 74)
(18, 3, 3, 2)
(18, 4, 2, 61)
(18, 5, 1, 15)
(19, 1, 3, 58)
(20, 1, 3, 52)
(20, 2, 2, 90)
(20, 3, 3, 52)
(20, 4, 2, 29)
(20, 5, 1, 68)

### 练习4

使用 INNER JOIN 查询学生的个人信息和每个课程的分数。

In [9]:
# 查询学生的个人信息及分数
cursor.execute('select id,name,gender,age,major,class_name,credit,score \
                from students s inner join\
                    (select student_id,class_name,c.credit,score from class c 
                        inner join enrolled e on c.class_id = e.class_id)tc \
                on s.id =tc.student_id')
print('---------------inner join--------------------')
for x in cursor.fetchall():
    print(x)

---------------inner join--------------------
(1, 'ehtur', 'male', 21, 'CS', 'Python', 3, 68)
(1, 'ehtur', 'male', 21, 'CS', 'Java', 2, 2)
(1, 'ehtur', 'male', 21, 'CS', 'C++', 3, 76)
(1, 'ehtur', 'male', 21, 'CS', 'C', 2, 86)
(2, 'wtozr', 'male', 12, 'Finance', 'Python', 3, 58)
(3, 'lcrbp', 'female', 21, 'CS', 'Python', 3, 48)
(3, 'lcrbp', 'female', 21, 'CS', 'Java', 2, 0)
(3, 'lcrbp', 'female', 21, 'CS', 'C++', 3, 47)
(4, 'hvzlt', 'male', 21, 'Economics', 'Python', 3, 2)
(4, 'hvzlt', 'male', 21, 'Economics', 'Java', 2, 62)
(4, 'hvzlt', 'male', 21, 'Economics', 'C++', 3, 67)
(5, 'nlpug', 'male', 18, 'Finance', 'Python', 3, 6)
(5, 'nlpug', 'male', 18, 'Finance', 'Java', 2, 76)
(5, 'nlpug', 'male', 18, 'Finance', 'C++', 3, 9)
(5, 'nlpug', 'male', 18, 'Finance', 'C', 2, 52)
(6, 'qectd', 'male', 21, 'Math', 'Python', 3, 39)
(7, 'qfgxl', 'male', 20, 'Math', 'Python', 3, 91)
(7, 'qfgxl', 'male', 20, 'Math', 'Java', 2, 87)
(7, 'qfgxl', 'male', 20, 'Math', 'C++', 3, 96)
(7, 'qfgxl', 'male', 20, 'Math', 'C', 2, 98)
(7, 'qfgxl', 'male', 20, 'Math', 'R', 1, 96)
(8, 'ahfpv', 'female', 18, 'Economics', 'Python', 3, 95)
(9, 'yhkmf', 'male', 16, 'Finance', 'Python', 3, 30)
(9, 'yhkmf', 'male', 16, 'Finance', 'Java', 2, 56)
(10, 'xnrbz', 'female', 19, 'Math', 'Python', 3, 13)
(10, 'xnrbz', 'female', 19, 'Math', 'Java', 2, 44)
(10, 'xnrbz', 'female', 19, 'Math', 'C++', 3, 1)
(10, 'xnrbz', 'female', 19, 'Math', 'C', 2, 48)
(10, 'xnrbz', 'female', 19, 'Math', 'R', 1, 34)
(11, 'jcirq', 'female', 22, 'Math', 'Python', 3, 76)
(11, 'jcirq', 'female', 22, 'Math', 'Java', 2, 8)
(11, 'jcirq', 'female', 22, 'Math', 'C++', 3, 73)
(11, 'jcirq', 'female', 22, 'Math', 'C', 2, 88)
(11, 'jcirq', 'female', 22, 'Math', 'R', 1, 17)
(12, 'edalb', 'male', 12, 'Finance', 'Python', 3, 5)
(12, 'edalb', 'male', 12, 'Finance', 'Java', 2, 27)
(12, 'edalb', 'male', 12, 'Finance', 'C++', 3, 40)
(12, 'edalb', 'male', 12, 'Finance', 'C', 2, 40)
(13, 'rakxn', 'male', 23, 'Economics', 'Python', 3, 42)
(13, 'rakxn', 'male', 23, 'Economics', 'Java', 2, 30)
(13, 'rakxn', 'male', 23, 'Economics', 'C++', 3, 93)
(13, 'rakxn', 'male', 23, 'Economics', 'C', 2, 44)
(13, 'rakxn', 'male', 23, 'Economics', 'R', 1, 47)
(13, 'rakxn', 'male', 23, 'Economics', 'Go', 1, 46)
(14, 'japxz', 'male', 16, 'Math', 'Python', 3, 42)
(15, 'pmiot', 'female', 21, 'Economics', 'Python', 3, 31)
(15, 'pmiot', 'female', 21, 'Economics', 'Java', 2, 59)
(15, 'pmiot', 'female', 21, 'Economics', 'C++', 3, 10)
(15, 'pmiot', 'female', 21, 'Economics', 'C', 2, 60)
(15, 'pmiot', 'female', 21, 'Economics', 'R', 1, 67)
(16, 'npray', 'male', 12, 'Finance', 'Python', 3, 78)
(16, 'npray', 'male', 12, 'Finance', 'Java', 2, 99)
(16, 'npray', 'male', 12, 'Finance', 'C++', 3, 38)
(16, 'npray', 'male', 12, 'Finance', 'C', 2, 37)
(16, 'npray', 'male', 12, 'Finance', 'R', 1, 7)
(16, 'npray', 'male', 12, 'Finance', 'Go', 1, 26)
(17, 'qfohp', 'female', 22, 'Finance', 'Python', 3, 44)
(17, 'qfohp', 'female', 22, 'Finance', 'Java', 2, 45)
(17, 'qfohp', 'female', 22, 'Finance', 'C++', 3, 44)
(17, 'qfohp', 'female', 22, 'Finance', 'C', 2, 61)
(17, 'qfohp', 'female', 22, 'Finance', 'R', 1, 81)
(17, 'qfohp', 'female', 22, 'Finance', 'Go', 1, 82)
(18, 'uxdjn', 'female', 23, 'CS', 'Python', 3, 92)
(18, 'uxdjn', 'female', 23, 'CS', 'Java', 2, 74)
(18, 'uxdjn', 'female', 23, 'CS', 'C++', 3, 2)
(18, 'uxdjn', 'female', 23, 'CS', 'C', 2, 61)
(18, 'uxdjn', 'female', 23, 'CS', 'R', 1, 15)
(19, 'thclo', 'female', 16, 'CS', 'Python', 3, 58)
(20, 'ujosv', 'male', 16, 'Finance', 'Python', 3, 52)
(20, 'ujosv', 'male', 16, 'Finance', 'Java', 2, 90)
(20, 'ujosv', 'male', 16, 'Finance', 'C++', 3, 52)
(20, 'ujosv', 'male', 16, 'Finance', 'C', 2, 29)
(20, 'ujosv', 'male', 16, 'Finance', 'R', 1, 68)

创建视图备练习5使用

In [10]:
#创建视图以便查询
cursor.execute('create view score as \
    select id,name,class_name,credit,score            \
    from students s inner join\
    (select student_id,class_name,c.credit,score from class c inner join enrolled e on c.class_id = e.class_id)tc \
    on s.id =tc.student_id')
db.commit()

In [11]:
# 关闭Cursor:
cursor.close()
# 关闭connection：
db.close()

### 练习5
结合Tkinter，做一个成绩查询的SQLite系统 \
提示：  \
创建一个查询按钮，查询所有students表

## test_tkinter.py
   简单的成绩查询界面

In [12]:
from tkinter import *
from tkinter import ttk
from tkinter import messagebox
import sqlite3
def query():
    id=in_id.get()
    name=in_name.get()
    course=in_co.get()
    #清空treeview
    items=tree.get_children()
    for item in items:
        tree.delete(item)
    #查询条件
    q_id = ''if id=='' else 'id='+id
    q_name = '' if name=='' else 'name="{}"'.format(name)
    q1 = ' and ' if (q_id!='' and q_name!='') else ''
    q_course = '' if course=='' else 'class_name="{}"'.format(course)
    q2 = ' and ' if ((q_id+q_name)!='' and q_course!='') else ''
    q = q_id+q1+q_name+q2+q_course
    q = q if q=='' else ' where '+q
    print(q)
    #执行查询,插入结果到表格
    cursor.execute('select * from score'+q)
    count=0  
    for item in cursor.fetchall():
        tree.insert('','end',values=item)
        count+=1
    if count==0:
        messagebox.showinfo('提醒','未查询到相关结果')

# 数据库文件是university.db，不存在，则自动创建
with sqlite3.connect('university.db') as db:
# 创建一个cursor：
    cursor = db.cursor()

# 创建主窗口对象
root = Tk()
# 设置初始化界面大小
root.geometry('600x400')
root.resizable(False, False)
# 窗口标题
root.title("成绩查询系统")

frame1 = Frame(root)
frame2 = Frame(root)
 
frame1.pack(side='top',ipady=10)
frame2.pack()

lb_id=Label(frame1,text='学号').pack(side='left')
in_id=Entry(frame1,width=10)
in_id.pack(side='left',padx=10)
lb_name=Label(frame1,text='姓名').pack(side='left')
in_name=Entry(frame1,width=10)
in_name.pack(side='left',padx=10)
lb_co=Label(frame1,text='课程').pack(side='left')
in_co=Entry(frame1,width=10)
in_co.pack(side='left',padx=10)

bt_query = Button(frame1,text = '查询',command = query)
bt_query.pack(side='right',padx=10)

tree=ttk.Treeview(frame2,show="headings")   #表格
tree['columns']=('学号','姓名','课程','学分','成绩')
tree.column('学号',width=100,anchor='center')   #表示列,不显示
tree.column('姓名',width=80,anchor='center')
tree.column('课程',width=100,anchor='center')
tree.column('学分',width=50,anchor='center') 
tree.column('成绩',width=80,anchor='center')

tree.heading('学号',text='学号')  #显示表头
tree.heading('姓名',text='姓名')
tree.heading('课程',text='课程')
tree.heading('学分',text='学分')
tree.heading('成绩',text='成绩')

#滚动条
vbar = ttk.Scrollbar(frame2,orient=VERTICAL,command=tree.yview)
tree.configure(yscrollcommand=vbar.set)
vbar.pack(side='right',fill='y')

hbar = ttk.Scrollbar(frame2,orient=HORIZONTAL,command=tree.xview)
tree.configure(xscrollcommand=hbar.set)
hbar.pack(side='bottom',fill='x')
tree.pack()

#关闭窗口时断开数据库
def on_closing():
    # 关闭Cursor:
    cursor.close()
    # 关闭connection：
    db.close() 
    root.destroy()

root.protocol("WM_DELETE_WINDOW", on_closing)

# 加入消息循环
root.mainloop()